In [1]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd

<Response [200]>

In [23]:
category=['political','social','market','entertainment','sports','view','blog','International']

news_df={'Category':[],'Link':[]}
n=int(input('enter of page ='))
for i in range(1,n+1):
    for cat in category:
        url=BeautifulSoup(f'https://en.setopati.com/{cat}?page={i}','html.parser')
        data=requests.get(url)
        news_code=BeautifulSoup(data.text,"lxml")
        for link in news_code.find_all('a'):
            if f"{cat}/" in link.get('href'):
                news_df['Link'].append(link.get('href'))
                news_df['Category'].append(cat)

enter of page =2

In [24]:
df=pd.DataFrame(news_df)
df

          Category                                          Link
0        political      https://en.setopati.com/political/160778
1        political      https://en.setopati.com/political/160778
2        political      https://en.setopati.com/political/160817
3        political      https://en.setopati.com/political/160816
4        political      https://en.setopati.com/political/160814
..             ...                                           ...
287  International  https://en.setopati.com/International/160690
288  International  https://en.setopati.com/International/160689
289  International  https://en.setopati.com/International/160684
290  International  https://en.setopati.com/International/160681
291  International  https://en.setopati.com/International/160680

[292 rows x 2 columns]